@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
  margin: 0;
  font-family: Roboto;
}
.entries{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.entry-preview{
  border-color: bisque;
  border-style: solid;
  border-radius: 5%;
  max-width: 300px;
  max-height: 200px;
  background-color: bisque;

}
.empty-list-message{
  margin: 200px 85px;
}
.entry-preview h2{
  color: rgb(246, 61, 218);
  border-color: black;
  border-bottom:1px solid black;
  text-align: center;
}
.entry-operations{
display: flex;
justify-content: space-between;
}
.view{
  color: blue;
}
.edit{
  color: rgb(92, 189, 92);
}
.delete{
  color: red;
}