body{
  margin: 0;
  background-color: rgb(219, 163, 90);
  padding: 10% 20%;
}
.update-page h1{
  color: rgb(57, 44, 44);
  text-align: center;
  text-decoration: solid;
  /* margin-top: 20px; */
  margin-bottom: 50px;
}
.update-page form{
  background-color: rgb(225, 221, 217);
  border: 1px solid black;
  padding: 10%;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  border-radius: 15%
}
.update-page textarea{
  min-height: 150px;
  max-width: 95%;
}
.update-page input{
  max-width: 95%;
  height: 30px;
  margin-bottom: 20px;
}
.update-page label{
  text-align: left;
  color:rgb(247, 159, 44);
  margin-bottom: 2px;
}
.update-page button{
  align-self: center;
  margin-top: 30px;
  background-color: rgb(247, 159, 44);
  border-style:double;
  border-radius: 10%;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

